<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>

</header>
<div class="container">
<div class="jumbotron text-center">
    <h1 class="display-3">Инструментът е обновен!</h1>
    <p class="lead"><strong>Обявата за инструмент ще бъде активна след няколко минути</strong> нашите майстори преглеждат промените.</p>
    <hr>
    <p>
        Имаш проблем? <a href="/issue/submit">Свържи се с нас</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm profile-button"  href="/tool/userTools" role="button">Върни се към твоите инструменти</a>
    </p>
</div>
</div>
<th:block th:include="~{fragments/footer}"/>
</body>


</html>