<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
</head>
<form action="/user/profile" th:method="post"  enctype="multipart/form-data" th:object="${userEditBindingModel}">
<div class="container rounded bg-white mt-5 mb-5 profilepage">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" th:src="${profilePic}" alt="">
                <div class="form-group">
                    <label for="image" class="font-weight-bold">Смени профилна снимка</label>
                    <input type="file" class="form-control-file" id="image" name="image">
                </div>
                <span class="font-weight-bold" th:text="${username}">Име потребител</span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Профил</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Име</label>
                         <input required minlength="2" maxlength="15" type="text" class="form-control" placeholder="Име" th:value="*{firstName} " th:field="*{firstName}"></div>
                    <small th:each="e : ${#fields.errors('firstName')}" th:text="${e}"  id="firstNameError"
                           class="text-light form-text bg-danger rounded">Грешка</small>
                    <div class="col-md-6"><label class="labels">Фамилия</label>
                        <input required minlength="2" maxlength="15"  type="text" class="form-control" th:value="*{lastName}"   th:field="*{lastName}" placeholder="Фамилия"></div>
                    <small th:each="e : ${#fields.errors('lastName')}" th:text="${e}"  id="lastNameError"
                           class="text-light form-text bg-danger rounded">Грешка</small>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Телефонен номер</label>
                        <input type="text" class="form-control" placeholder="Телефонен номер" th:value="*{phoneNumber}" th:field="*{phoneNumber}"></div>
                    <small th:each="e : ${#fields.errors('phoneNumber')}" th:text="${e}"  id="phoneNumberError"
                           class="text-light form-text bg-danger rounded">Грешка</small>
                    <div class="col-md-12"><label class="labels">Емайл адрес</label>
                        <input required type="text" class="form-control" placeholder="Емайл" th:value="*{email}" th:field="*{email}"></div>
                    <small th:each="e : ${#fields.errors('email')}" th:text="${e}"  id="emailError"
                           class="text-light form-text bg-danger rounded">Грешка</small>
                    <div class="col-md-12"><label class="labels">Град</label>
                      <input type="text" class="form-control" placeholder="Град" th:value="*{city}"  th:field="*{city}"></div>
                    <small th:each="e : ${#fields.errors('city')}" th:text="${e}"  id="cityError"
                           class="text-light form-text bg-danger rounded">Грешка</small>
                </div>

                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Запази промените</button></div>

                <div class="mt-5 text-center">
                    <a class="btn btn-dark " href="/user/passwordChange" role="button">Искаш да си смениш паролата?</a>
                </div>


            </div>
        </div>

    </div>
</div>
    <div style="position: absolute;bottom: 0;width:100%;height: 2.5rem">
<th:block th:include="~{fragments/footer}"/>
    </div>
</form>
</body>
</html>