<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<form action="/user/passwordChange" th:method="post" th:object="${userPasswordChangeBindingModel}">
    <div class="container rounded bg-white mt-5 mb-5 profilepage">
        <div class="row">

                        <div class="row mt-3">


                            <div class="col-md-12"> <label for="oldPassword" class="font-weight-bold">Въведете текуща парола</label>

                                <input th:field="*{oldPassword}" th:errorclass="bg-danger"  type="password"  id="oldPassword" placeholder="Password..." name="oldPassword" ></div>
                            <div class="col-auto">
                                <small th:each="e : ${#fields.errors('oldPassword')}" th:text="${e}"  id="oldPasswordError"
                                       class="text-light form-text bg-danger rounded">Error</small>
                            </div>
                            <div class="col-md-12"> <label for="password" class="font-weight-bold">Въведете нова ви парола</label>
                                    <input th:field="*{password}" th:errorclass="bg-danger"  type="password"  id="password" placeholder="New Password..." name="password"></div>
                            <div class="col-auto">
                                <small th:each="e : ${#fields.errors('password')}" th:text="${e}"  id="passwordError"
                                       class="text-light form-text bg-danger rounded">Error</small>
                            </div>
                            <div class="col-md-12"> <label for="confirmPassword" class="font-weight-bold">Потвърдете новата парола</label>
                                        <input th:field="*{confirmPassword}" th:errorclass="bg-danger"  type="password"  id="confirmPassword" placeholder="Confirm New Password..." name="confirmPassword"></div>
                            <div class="col-auto">
                                <small th:each="e : ${#fields.errors('confirmPassword')}" th:text="${e}"  id="confirmPasswordError"
                                       class="text-light form-text bg-danger rounded">Error</small>
                            </div>



                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Смени парола</button></div>




                </div>
            </div>

        </div>


</form>
<div style="position: absolute;bottom: 0;width:100%;height: 2.5rem">
<th:block th:include="~{fragments/footer}"/>
</div>
</body>
</html>