<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>

</header>
<div class="container">
<div class="jumbotron text-center">
    <h1 class="display-3">Благодаря!</h1>
    <p class="lead"><strong>Скоро ще получите отговор на вашето запитване</strong> нашите майстори го преглеждат.</p>
    <hr>
    <p class="lead">
        <a class="btn btn-primary btn-sm profile-button"  href="/home" role="button">Върни се в началната страница</a>
    </p>
</div>
</div>
<th:block th:include="~{fragments/footer}"/>
</body>


</html>