<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:action="http://www.w3.org/1999/xhtml">
<head th:include="~{fragments/head}"></head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main class="p-5 bg-blur text-center my-main offer-card-view-container">
    <h1 class="text-dark border-bottom">Добави услуга</h1>
    <div class="d-flex justify-content-center">
        <form class="text-dark">
            <div class="form-row m-5">
                <div class="col">
                    <label for="name">Заглавие на обявата</label>
                    <input   name="name" id="name" type="text" class="form-control" placeholder="Загалвие">
                    <small id="nameError" class="form-text bg-danger rounded">Name must be between 3 and 20
                        characters</small>
                </div>
                <div class="col">
                    <label for="image">Линк към снимка</label>
                    <input  name="image" id="image" type="text" class="form-control" placeholder="Снимка">
                    <small id="imageError" class="form-text bg-danger rounded">Image url must be more than 5
                        characters</small>
                </div>
            </div>
            <div class="form-row m-5">
                <div class="col">
                    <label for="price">Цена</label>
                    <input  name="price" id="price" type="number" class="form-control" placeholder="Цена">
                    <small   id="priceError" class="form-text bg-danger rounded">Price must be positive</small>
                </div>
                <div class="col">
                    <label for="region">Категория</label>
                    <select    name="category" id="category" class="custom-select">
                        <option  selected>Изберете категория</option>
                    </select>
                    <small  id="categoryError" class="form-text bg-danger rounded">You must select artist</small>
                </div>
            </div>
            <div class="form-row m-5">
                <div class="col">
                    <label for="startsOn">От</label>
                    <input name="startsOn" id="startsOn" type="date" class="form-control" placeholder="От">
                    <small  id="startsOnError" class="form-text bg-danger rounded">Release date cannot be in the
                        future</small>
                </div>
                <div class="col">
                    <label for="endsOn">До</label>
                    <input name="endsOn" id="endsOn" type="date" class="form-control" placeholder="До">
                    <small  id="endsOnError" class="form-text bg-danger rounded">Release date cannot be in the
                        future</small>
                </div>
            </div>
            <div class="form-row m-5">
                <div class="col">
                    <label for="region">Регион</label>
                    <select    name="region" id="region" class="custom-select">
                        <option  selected>Изберете регион</option>
                    </select>
                    <small  id="regionError" class="form-text bg-danger rounded">You must select artist</small>
                </div>
                <div class="col">
                    <label for="phoneNumber">Телефонен номер</label>
                    <input  name="phoneNumber" id="phoneNumber" type="text" class="form-control" placeholder="Телефонен номер">
                    <small id="phoneNumberError" class="form-text bg-danger rounded">Image url must be more than 5
                        characters</small>
                </div>
            </div>

            <div class="form-row m-5">
                <div class="col">
                    <label for="description">Описание</label>
                    <textarea    name="description" id="description" type="text" class="form-control" placeholder="Описание"></textarea>
                    <small  id="descriptionError" class="form-text bg-danger rounded">Description length must be more than 5 characters</small>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-primary btn-block w-50 profile-button" type="submit">Добави обява</button>
            </div>
        </form>
    </div>
</main>
<footer class="footer bg-blur">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            &copy;SoftUni Spring Team 2021. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>
