<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<div class="container">
<section class="categories">
    <div class="container countworkers">
        <div class="row ">
                <h4 class="bold" th:text="|Брой майстори: ${allCategories.size()}|">280</h4>

        </div>
    </div>

    <div class="container">
        <div class="row mt-5"  >


            <div class="col-sm-12 col-md-6 col-xl-3 col-lg-4 pb-3" th:each="category : ${allCategories}" th:object="${category}">
                <div class="card sub-card without-image">
                    <div class="service-card">
                        <a href="subcategory?id=29"><h2 style="font-size:20px;" th:text="${category.name}">Бояджия</h2></a>
                        <div class="row mt-5">
                            <div class="col-sm-8">
                                <p class="light" th:text="|Брой обяви: ${category.getOffers().size()}|"> 17</p>
                            </div>
                            <div class="col-sm-4">
                                <a href="subcategory?id=29" class="sub-card-btn"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<th:block th:include="~{fragments/footer}"/>


</body>
</html>