<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>

</header>

<div class="container">

    <div class="card-product single-offer">
        <div class="col-12 col-md-6">

            <p><a  action="action" type="button" onclick="history.go(-1);" class="text-muted th:text">НАЗАД</a>

                <img src="./assets/images/services/map-marker.svg" class="is-icon" alt="">
                <strong class="after-icon is-place" th:text="${offer.region}">ОБЛАСТ</strong>

            </p>
        </div>
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img th:src="${offer.image}"  alt="alttext"/></div>
                    </div>

                </div>
                <div class="details col-md-6">
                    <h3 class="product-title"  th:text="${offer.name}">Заглавие</h3>
                    <p class="product-description" th:text="${offer.description}">.</p>
                    <h6 class="price">Цена:  <span th:text="${offer.price}">$180</span></h6>
                    <h6 class="price" >Активна до: <span th:text="${offer.endsOn}">$180</span></h6>

                    <p class="vote">Телефонен номер за връзка: <strong  th:text="${offer.ownerPhoneNumber}">08882012121</strong></p>
                    <div class="container profile-user">
                        <div><h5>Качена от: </h5></div>

                        <div class="row">
                            <div class="col-md-6 img">
                                <img class="rounded-circle" th:src="${offer.userViewModel.image}"  alt="">
                            </div>
                            <div class="col-md-6 details">
                                <blockquote>
                                    <h5 th:text="|${offer.userViewModel.firstName}  ${offer.userViewModel.lastName}|">a</h5>
                                    <th:block th:if="${offer.userViewModel.city}!=null">
                                    <small><cite th:text="|${offer.userViewModel.city}, област ${offer.region}|" title="Source Title">Chicago, United States of America  <i class="icon-map-marker"></i></cite></small>
                                    </th:block>
                                </blockquote>
                                <p th:text="|Емайл: ${offer.userViewModel.email}|">
                                 asa <br>
                                 <br>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form  th:action="@{/offer/single-offer/{id}(id=${offer.id})}" th:method="post">
    <div class="container-fluid " style="padding-top: 3%">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                <div class="panel-body">
                    <textarea  th:field="${commentAddBindingModel.description}"  class="form-control" placeholder="Добави мнение за ползваната услуга..." rows="3"></textarea>
                    <br>
                    <button type="submit" class="btn btn-danger pull-right" style="background-color:  #932432!important;">Добави</button>
                    <div class="clearfix"></div>
                    <hr>
                    <ul class="media-list">
                        <li class="media" th:each="c : ${comments}">
                            <div style="padding-right: 5px">
                                <img th:src="${c.user.image}" alt="" class="rounded-circle">
                            </div>
                            <div class="media-body">
                                <strong th:text="|${c.user.firstName} ${c.user.lastName}|" style="color: #932432 ">First LastName</strong>
                                <span class="text-muted pull-right">
                                    <small th:text="${#temporals.format(c.postedTime, 'dd/MMM/yyyy HH:mm')}" class="text-muted">30 min ago</small>
                                </span>
                                <p th:text="${c.description}">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Lorem ipsum dolor sit amet, <a href="#">#consecteturadipiscing </a>.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    </form>
    </div>


</body>
<th:block th:include="~{fragments/footer}"/>

</html>